#container {
    /* min-height: 100vh; */
    background-color: #efefef;
    padding: 50px 11px;
}

.form {
    min-width: 300px;
    max-width: 550px;
    margin: 0 auto;
    padding: 25px;
}

.form div {
    margin: 15px 0;
}

.noAccount button {
    width: 100%;
}

.error-style {
    color: #d43f3a;
}

#forgotPSW-link {
    text-decoration: none;
}

#forgotPSW-link:hover {
    text-decoration: underline;
}