<div class="container-fluid" id="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form facebook-style">
        <h2 style="width: fit-content; margin: 0 auto 50px auto;">Welcome back</h2>
        <div>
            <label for="email">Email</label> <br>
            <input formControlName="email" type="email" placeholder="Email" class="form-control">
        </div>
        <div>
            <label for="password">Password</label> <br>
            <input formControlName="password" type="password" placeholder="Password" class="form-control">
        </div>
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>
        <div>
            <button class="btn btn-primary" style="width: 100%;">Continue</button>
        </div>
        <div><a id="forgotPSW-link" routerLink="/auth/forgot-password">Forgot password?</a></div>
        <hr>
        <br>
        <div class="noAccount">
            <p style="text-align: center;">OR</p>
            <button class="btn btn-success" routerLink="/auth/signup">Create new account</button>
        </div>
    </form>
</div>