footer {
    background-color: #024c7d;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    padding: 15px 0px;
}

.footer-text {
    width: fit-content;
    margin: 0 auto;
    font-size: 0.9rem;
    font-weight: 500;
}

.footer-text a {
    text-decoration: none;
    color: #ffffff;
}

.footer-text a:hover {
    color: #fffd88;
    transition: 0.5s;
}