<nav color="green">
    <div class="navigation">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a *ngIf="isAuth" routerLink="/waiting-list" routerLinkActive="active">Waiting List</a>
        <a *ngIf="isAuth && displayDashbrd" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a *ngIf="isAuth && isAdmin()" routerLink="/edit-users" routerLinkActive="active">Edit Users</a>
    </div>
    <!-- logo in the center -->
    <div class="title" title="LOGO: navigate to home">
        <a routerLink="/home">Rendezvous</a>
    </div>
    <!-- right navigation links (sign in, profile pic + user's name) -->
    <div class="auth" *ngIf="!isAuth">
        <button id="signIn-btn" routerLink="/auth/login">Sign in</button>
    </div>
    <!-- profile pic & user's name -->
    <button id="account-container" *ngIf="(isAuth)" (click)="toggleMenu()" (blur)="accountMenu=false" title="Menu">
        <img *ngIf="userImgURL" [src]="userImgURL" id="userIMG">
        <h3 id="userName">
            <strong>{{ user.firstName }} </strong>
            <small> ({{ user.role }})</small>
        </h3>
        <!-- popup menu -->
        <div *ngIf="accountMenu" id="account-menu">
            <div id="goToProfile" (click)="goToUserProfile()" class="div-sec-inside">
                <div class="inside-container" title="See your profile">
                    <div><img [src]="userImgURL" class="rounded-circle" style="width: 60px; height: 60px;"></div>
                    <div style="margin-left: 9px; font-size: large; height: 45px;">
                        <p style="width: max-content;">{{ user.firstName }} {{ user.familyName }}</p>
                        <p style="font-size: 14px; text-align: center; margin-top: -5px;">{{ user.email }}</p>
                    </div>
                </div>
            </div>
            <div id="signOut" (click)="logOut()" class="div-sec-inside">
                <div class="inside-container" title="Log out">
                    <div class="inside" style="font-size: 1rem;">
                        <i class="fas fa-power-off"></i>
                    </div>
                    <div style="margin-left: 15px; font-size: 1rem;">Sign out</div>
                </div>
            </div>
        </div>
    </button>
</nav>