<div class="container-fluid" style="min-height: 100vh; background-color: #efefef; padding: 50px 11px;">

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form facebook-style">
        <h2 style="width: fit-content; margin: 0 auto 50px auto;">
            Welcome and join us!
        </h2>
        <div class="form-group" id="firstName-div">
            <label for="firstName">First Name</label> <br>
            <input formControlName="firstName" type="text" class="form-control">
        </div>
        <div class="form-group" id="familyName-div">
            <label for="familyName">Family Name</label> <br>
            <input formControlName="familyName" type="text" class="form-control">
        </div>
        <div class="form-group" id="phoneNumber-div">
            <label for="phoneNumber">Phone Number</label> <br>
            <input formControlName="phoneNumber" type="tel" class="form-control">
        </div>
        <div class="form-group" id="email-div">
            <label for="email">Email</label> <br>
            <input formControlName="email" type="email" class="form-control">
        </div>
        <div class="form-group" id="email-div">
            <label for="password">Password</label> <br>
            <input formControlName="password" type="password" class="form-control">
        </div>
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>
        <div>
            <button class="btn btn-primary" style="width: 100%;">Continue</button>
        </div>
        <div class="noAccount" style="margin-top: 50px; text-align: center;">
            Already have an account? <a routerLink="/auth/login">Sign in</a>
        </div>
    </form>
</div>