<div class="container-fluid" style="min-height: 100vh;">
    <div class="row justify-content-center no-gutters col-md-">
        <!-- add RDVs form -->
        <div class="col-md-3 facebook-style" id="form-container">
            <form (ngSubmit)="onSubmitForm()" [formGroup]="rdvForm" class="submit-form" id="form">
                <h2 *ngIf="id == ''" style="margin-bottom: 35px;">Get a rendezvous!</h2>
                <h2 *ngIf="id != ''">Update Infos</h2>
                <div class="form-group">
                    <label for="displayName">Name</label> <br>
                    <input type="text" formControlName="displayName" class="form-control">
                    <!-- <p *ngIf="rdvForm.controls.displayName && 
                              rdvForm.controls.displayName.invalid" class="alert alert-danger">
                        Please, Enter a valid name.
                    </p> -->
                </div>
                <div class="form-group" id="phoneNumber-input-section">
                    <label for="phoneNumber">Phone number</label> <br>
                    <input type="tel" formControlName="phoneNumber" class="form-control">
                    <!-- <p *ngIf="rdvForm.controls.phoneNumber.touched &&
                              rdvForm.controls.phoneNumber.invalid" class="alert alert-danger">
                        Please,Enter 10 digit Mobile Numbers.
                    </p> -->
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" [disabled]="rdvForm.invalid">
                        Submit
                    </button>
                </div>
                <div *ngIf="firebaseErrorMessage != ''" style="background-color: #dc3545;">
                    {{ firebaseErrorMessage }}
                </div>
                <button *ngIf="(id === '') && rdvForm.touched" class="btn btn-danger"
                        (click)="resetForm()">
                    Cancel
                </button>
                <button *ngIf="id !== ''" class="btn btn-danger" (click)="resetForm()">
                    Cancel Updating
                </button>
            </form>
        </div>

        <!-- RDVs table -->
        <div class="col-md-8 facebook-style" id="list-container">
            <table *ngIf="rdvsList" class="table">
                <thead>
                    <tr>
                        <th *ngFor="let th of tHead">{{ th }}</th>
                        <!-- <th *ngIf="checkUserPermission(rdv)"></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rdv of rdvsList | async">
                        <td>{{ rdv.order }}</td>
                        <td>{{ rdv.displayName }}</td>
                        <td>{{ rdv.phoneNumber }}</td>
                        <td>{{ rdv.created_at }}</td>
                        <td>
                            <span>{{ rdv.lastUpdate }}</span>
                            <span *ngIf="checkUserPermission(rdv)" 
                                   style="float: right; margin-left: 15px;">
                                <i class="fas fa-edit" (click)="onUpdateIcon(rdv)"></i>
                                <i class="fas fa-trash-alt" (click)="onDelete(rdv)"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h1 *ngIf="emptyList()" id="emptyList">List Empty</h1>
        </div>
    </div>
</div>

<!-- THE END -->