.container-fluid {
    padding-top: 25px;
    padding-bottom: 50px;
}

#form-container, #list-container {
    padding: 15px;
    min-height: 350px;
    margin-right: 7px;
}

#form-container {
    height: fit-content;
}

.col-8 {
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.col-4 {
    background-color: rgb(255, 207, 207);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.submit-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.submit-form h2 {
    text-align: center;
}

.submit-form div {
    margin: 15px auto;
}

.submit-form div input, .submit-form div button {
    width: 100%;
}

.list-container {
    display: flex;
    flex-direction: row;
}

.list-container div {
    margin: 3px 0;
    padding: 5px 11px;
}

.editPat, .deletePat, .patTel {
    width: fit-content;
}

.patName {
    width: 35%;
}

.deletePat i {
    color: #dc3545;
}

.editPat i {
    color: #17a2b8;
}

#emptyList {
    opacity: 0.5;
    text-align: center;
    padding: 125px 0;
}

.fas {
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-edit {
    color: #0d6efd;
}

.fa-edit:hover {
    background-color: #0d6efd;
    color: #fff;
}

.fa-trash-alt {
    color: #dc3545;
    margin-left: 15px;
}

.fa-trash-alt:hover {
    background-color: #dc3545;
    color: #fff;
}

@media only screen and (max-width: 752px) {
    .container-fluid {
        width: 100%;
        padding: 11px;
    }

    #list-container, #form-container {
        width: 95%;
        margin: 11px auto;
    }
}